<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/hero.css">
</head>

<body>
    {% include "navbar.njk" %}
    {% include "hero.njk" %}
</body>
<!-- Photo by <a href="https://unsplash.com/@soopkim?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Soop kim</a> on <a href="https://unsplash.com/photos/3Rpa9rITnAA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
<!-- Photo by <a href="https://unsplash.com/@sonniehiles?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sonnie Hiles</a> on <a href="https://unsplash.com/photos/L0BaowhFe4c?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->

</html>