<main>
    <div class="container">
        <h1>VARUKORG</h1>
        <ul>
            <li>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/ruslan-bardash.jpg" alt="">
                    </div>
                    <div class="product-text">
                        <h2>PALL</h2>
                        <h3>3000kr</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="cart-buttons">
                        <button><span class="material-symbols-outlined">remove</span></button>
                        <p>1</p>
                        <button><span class="material-symbols-outlined">add</span></button>
                        <button><span class="material-symbols-outlined">delete</span></button>
                    </div>
                </div>
            </li>
            <li>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/ruslan-bardash.jpg" alt="">
                    </div>
                    <div class="product-text">
                        <h2>PALL</h2>
                        <h3>3000kr</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="cart-buttons">
                        <button><span class="material-symbols-outlined">remove</span></button>
                        <p>1</p>
                        <button><span class="material-symbols-outlined">add</span></button>
                        <button><span class="material-symbols-outlined">delete</span></button>
                    </div>
                </div>
            </li>
        </ul>
        <button class="checkout">TILL KASSAN</button>
    </div>
</main>