<footer>
    <div class="container">
        <img src="../images/outsite.png" alt="">
        <ul>
            <li>
                <div class="footer-text">
                    <h2>Om Oss</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni iste obcaecati minima officiis,
                        quas earum vitae autem id aut officia enim pariatur perferendis et illum praesentium minus sunt
                        dolor molestiae!</p>
                </div>
            </li>
            <li>
                <div class="footer-text">
                    <h2>Frakt</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni iste obcaecati minima officiis,
                        quas earum vitae autem id aut officia enim pariatur perferendis et illum praesentium minus sunt
                        dolor molestiae!</p>
                </div>
            </li>
            <li>
                <div class="footer-text">
                    <h2>Kontakt</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni iste obcaecati minima officiis,
                        quas earum vitae autem id aut officia enim pariatur perferendis et illum praesentium minus sunt
                        dolor molestiae!</p>
                </div>
            </li>
        </ul>
    </div>
</footer>