<footer id="footer">
    <div class="container">
        <img src="../images/outsite.png" alt="">
        <ul>
            <li>
                <div class="footer-text">
                    <h2>Om Oss</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni iste obcaecati minima officiis,
                        quas earum vitae autem id aut officia enim pariatur perferendis et illum praesentium minus sunt
                        dolor molestiae!</p>
                </div>
            </li>
            <li>
                <div class="footer-text">
                    <h2>Frakt</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni iste obcaecati minima officiis,
                        quas earum vitae autem id aut officia enim pariatur perferendis et illum praesentium minus sunt
                        dolor molestiae!</p>
                </div>
            </li>
            <li>
                <div class="footer-text">
                    <h2>Kontakt</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <p>Vägen 20, Umeå 300 90</p>
                    <p>070-987-12-34</p>
                    <p>Outsite@hotmail.com</p>
                </div>
            </li>
        </ul>

        <p>Photo by <a
                href="https://unsplash.com/@soopkim?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Soop
                kim</a> on <a
                href="https://unsplash.com/photos/3Rpa9rITnAA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </p>
        <p>Photo by <a
                href="https://unsplash.com/@sonniehiles?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sonnie
                Hiles</a> on <a
                href="https://unsplash.com/photos/L0BaowhFe4c?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </p>
        <p>Photo by <a
                href="https://unsplash.com/@ruslanbardash?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ruslan
                Bardash</a> on <a
                href="https://unsplash.com/photos/4kTbAMRAHtQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
        <p>Photo by <a
                href="https://unsplash.com/@sammoghadamkhamseh?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Sam
                Moghadam Khamseh</a> on <a
                href="https://unsplash.com/photos/kvmdsTrGOBM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>

    </div>
</footer>