<article class="hero">
    <div class="container">
        <div class="hero-container">
            <h1>UTEMÖBLER</h1>
            <p>Bra utemöbler av högsta kvalitet.</p>
        </div>
    </div>
</article>