<main>
    <div class="container">
        <div class="slider">
            <h1>POPULÄRT JUST NU</h1>
            <div class="horizontal-slide">
                <article class="card">

                </article>
            </div>
        </div>
    </div>
</main>