<main id="main">
    <div class="section">
        <div class="container">
            <h1>HÖSTERBJUDANDEN</h1>
            <div class="split">
                <div class="split-image">
                    <img src="/images/ruslan-bardash.jpg" alt="">
                </div>
                <div class="split-text">
                    <h2>Text</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, mollitia accusamus ab nobis ex
                        natus magnam nemo, praesentium eos delectus asperiores quasi fugit corporis tenetur! Placeat
                        quae eum aliquid quidem?</p>
                    <button>TILL ERBJUDANDET</button>
                </div>
            </div>
        </div>
    </div>
    <div class="section slider">
        <div class="container">
            <h1>POPULÄRT JUST NU</h1>
            <ul class="horizontal-slide">
                <li>
                    <a href="/item">
                        <article class="card">
                            <div class="card-image">
                                <img src="/images/ruslan-bardash.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Pall</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="/item">
                        <article class="card">
                            <div class="card-image">
                                <img src="/images/sam-moghadam.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Stol</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="/images/ruslan-bardash.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Pall</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="/images/sam-moghadam.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Stol</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="/images/ruslan-bardash.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Pall</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="/images/sam-moghadam.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Stol</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="section slider">
        <div class="container">
            <h1>NYHETER</h1>
            <ul class="horizontal-slide">
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="/images/ruslan-bardash.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Pall</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="/images/sam-moghadam.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Stol</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="/images/ruslan-bardash.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Pall</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="/images/sam-moghadam.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Stol</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="/images/ruslan-bardash.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Pall</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="/images/sam-moghadam.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Stol</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>