<main>
    <div class="container">
        <div class="slider">
            <h1>POPULÄRT JUST NU</h1>
            <ul class="horizontal-slide">
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="../images/ruslan-bardash.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Lorem</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="../images/sam-moghadam.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Lorem</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="../images/ruslan-bardash.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Lorem</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="../images/sam-moghadam.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Lorem</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="../images/ruslan-bardash.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Lorem</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="../images/sam-moghadam.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Lorem</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
            </ul>
        </div>
        <div class="slider">
            <h1>KATEGORIER</h1>
            <ul class="horizontal-slide">
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="../images/ruslan-bardash.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Lorem</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="../images/sam-moghadam.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Lorem</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="../images/ruslan-bardash.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Lorem</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="../images/sam-moghadam.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Lorem</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="../images/ruslan-bardash.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Lorem</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li>
                    <a href="">
                        <article class="card">
                            <div class="card-image">
                                <img src="../images/sam-moghadam.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h2>Lorem</h2>
                                <p>Ipsum</p>
                            </div>
                        </article>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</main>