<nav id="nav">
    <div class="navbar container">
        <header>
            <a href="/">
                <div class="img-container">
                    <img id="desktop" src="../images/outsite.png" alt="">
                    <img id="mobile" src="../images/icon.png" alt="">
                </div>
            </a>
        </header>
        <div class="nav-input">
            <input type="text" placeholder="Sök...">
            <button><span class="material-symbols-outlined">search</span></button>
        </div>
        <button class="nav-button"><span class="material-symbols-outlined">menu</span></button>
        <div class="nav-collapse">
            <ul class="nav-list">
                <li><a href="#menu">Produkter</a></li>
                <li><a href="#basket">Varukorg</a></li>
                <li><a href="#footer">Om Oss</a></li>
                <li><a href="#about">Kontakt</a></li>
            </ul>
        </div>
    </div>
    <script src="./js/menu.js"></script>
</nav>