footer {
    background-color: var(--background-color);
    color: var(--white-color);
    padding: 1rem;
}

footer ul {
    margin: 0;
    display: flex;
    gap: 1rem;
}

footer img {
    padding: 1rem 0;
    max-width: 10rem;
    height: auto;
}

@media (min-width: 800px) {
    footer ul {
        flex-direction: row;
    }
}

@media (max-width: 799px) {
    footer ul {
        flex-direction: column;
    }
}